<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card tab2-card mb-4">
        <div class="card-body">
          <div
            class="tab-pane fade show active"
            id="top-profile"
            role="tabpanel"
            aria-labelledby="top-profile-tab"
          >
            <div class="row">
              <div class="col-12">
                <div
                  class="d-flex justify-content-between align-items-baseline"
                >
                  <h5 class="f-w-600">Thông tin website</h5>
                  <div *ngIf="!update">
                    <button (click)="updateSwitch()" class="btn btn-primary">
                      Cập nhật thông tin
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive profile-table" *ngIf="!update">
              <table class="table table-responsive">
                <div *ngIf="infoWeb">
                  <tbody>
                    <tr>
                      <td>Tiêu đề:</td>
                      <td>{{ infoWeb.title }}</td>
                    </tr>
                    <tr>
                      <td>Địa chỉ:</td>
                      <td>{{ infoWeb.address }}</td>
                    </tr>
                    <tr>
                      <td>Số điện thoại:</td>
                      <td>{{ infoWeb.phone }}</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{{ infoWeb.email }}</td>
                    </tr>
                    <tr>
                      <td>Fax:</td>
                      <td>{{ infoWeb.fax }}</td>
                    </tr>
                    <tr>
                      <td>Mô tả:</td>
                      <td>{{ infoWeb.description }}</td>
                    </tr>
                    <tr>
                      <td>Logo:</td>
                      <!-- <td>{{infoWeb.logo}}</td> -->
                      <img
                        appUiImageLoader
                        [src]="infoWeb?.logo"
                        style="width: 200px; height: auto"
                      />
                    </tr>
                  </tbody>
                </div>
              </table>
            </div>
          </div>
          <div *ngIf="update">
            <form
              [formGroup]="informationWebForm"
              class="needs-validation user-add"
              novalidate=""
            >
              <div class="form-group row">
                <label for="validationCustom5" class="col-xl-3 col-md-4"
                  ><span>*</span> Tiêu đề</label
                >
                <input
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom5"
                  type="text"
                  required=""
                  formControlName="title"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.title.touched || submitted) &&
                    informationWebFormControl.title.errors?.required
                  "
                >
                  Tiêu đề không được để trống
                </span>
              </div>
              <div class="form-group row">
                <label for="validationCustom0" class="col-xl-3 col-md-4"
                  ><span>*</span> Địa chỉ</label
                >
                <input
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom0"
                  type="text"
                  required
                  formControlName="address"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.address.touched || submitted) &&
                    informationWebFormControl.address.errors?.required
                  "
                >
                  Tiêu đề không được để trống
                </span>
              </div>
              <div class="form-group row">
                <label for="validationCustom1" class="col-xl-3 col-md-4"
                  ><span>*</span> Số điện thoại</label
                >
                <input
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom1"
                  type="text"
                  formControlName="phone"
                />
              </div>
              <span
                class="text-danger"
                *ngIf="
                  (informationWebFormControl.phone.touched || submitted) &&
                  informationWebFormControl.phone.errors?.required
                "
              >
                Số điện thoại không được để trống
              </span>
              <div class="form-group row">
                <label for="validationCustom2" class="col-xl-3 col-md-4"
                  ><span>*</span> Email</label
                >
                <input
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom2"
                  type="text"
                  required=""
                  formControlName="email"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.email.touched || submitted) &&
                    informationWebFormControl.email.errors?.required
                  "
                >
                  Email không được để trống
                </span>
              </div>
              <div class="form-group row">
                <label for="validationCustom3" class="col-xl-3 col-md-4"
                  ><span>*</span> Fax</label
                >
                <input
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom3"
                  type="text"
                  required=""
                  formControlName="fax"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.fax.touched || submitted) &&
                    informationWebFormControl.fax.errors?.required
                  "
                >
                  Fax không được để trống
                </span>
              </div>
              <div class="form-group row">
                <label for="validationCustom6" class="col-xl-3 col-md-4"
                  ><span>*</span> Mô tả</label
                >
                <textarea
                  class="form-control col-xl-7 col-md-6"
                  id="validationCustom6"
                  type="text"
                  required=""
                  formControlName="description"
                ></textarea>
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.description.touched ||
                      submitted) &&
                    informationWebFormControl.description.errors?.required
                  "
                >
                  Mô tả không được để trống
                </span>
              </div>
              <div class="form-group row">
                <label for="validationCustom4" class="col-xl-3 col-md-4"
                  ><span>*</span> Logo</label
                >
                <input
                  class="form-control"
                  id="validationCustom4"
                  type="text"
                  required=""
                  formControlName="logo"
                  hidden
                />
                <div class="col-xl-5 col-md-4 p-0">
                  <app-upload-file
                    [data]="modalFile"
                    [fileURL]="fileURL"
                    styleFile="width: 100%; height: auto;"
                    (onChange)="onChangeData($event)"
                  ></app-upload-file>
                </div>
                <span
                  class="text-danger"
                  *ngIf="
                    (informationWebFormControl.logo.touched || submitted) &&
                    informationWebFormControl.logo.errors?.required
                  "
                >
                  Logo không được để trống
                </span>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row float-right">
                    <div class="col-5">
                      <button
                        (click)="updateSwitch()"
                        class="btn btn-info"
                        *ngIf="update"
                      >
                        THOÁT
                      </button>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="updateDetails()"
                      >
                        LƯU
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
